.form-wrapper {
    width: 260px;
}

.form-group {
    height: 90px;
    margin-bottom: 10px;
}

.error-message {
    position: relative;
    color: #fff;
    font-size: 14px;
    background: #FF4200;
    margin-top: 12px;
    padding: 3px;
    -webkit-box-shadow: 2px 4px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 4px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 4px 5px 0px rgba(0,0,0,0.75);
}

.error-message:after {
    position: absolute;
    width: 12px;
    height: 12px;
    border-top: 2px solid #FF4200;
    border-left: 2px solid #FF4200;
    background: #FF4200;
    content: '';
    top: -6px;
    left: 27px;
    margin-left: -6px;
    transform: rotate(45deg);
}

span.spinner-border {
    margin-right: 3px;
}