<div class="container-fluid full-height background-primary-color">
	<nav class="logo-section">
		<a href="#">Habit tracker <i class="fas fa-check"></i></a>
	</nav>

	<div class="row">
		<div class="form-wrapper">
			<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
				<div class="form-group">
					<span class="control-icon">
						<i class="fas fa-envelope"></i>
					</span>
					<input type="text" name="email" id="email" placeholder="Email" formControlName="email">
					<div class="input-bar"></div>

					<div @fadeInOut *ngIf="formSubmitted && email.invalid">
						<div *ngIf="email.errors.required" class="error-message">
							The email is required
						</div>

						<div *ngIf="email.errors.email" class="error-message">
							The email is not valid
						</div>
					</div>
				</div>
				<div class="form-group">
					<span class="control-icon">
						<i class="fas fa-lock"></i>
					</span>
					<input type="password" name="password" id="password" placeholder="Password"
						formControlName="password">
					<div class="input-bar"></div>
					<div @fadeInOut *ngIf="formSubmitted && password.invalid">
						<div *ngIf="password.errors.required" class="error-message">
							The password is required
						</div>
					</div>
				</div>
				<button type="submit">
					<span *ngIf="loading" class="spinner-border spinner-border-sm"></span>
					Sign In
				</button>

				<div class="link-section">
					<a routerLink="/forgot-password">Forgot password</a>
				</div>
				<div class="link-section">
					<a routerLink="/register">Create account</a>
				</div>
			</form>
		</div>
	</div>
</div>