.habit-tracker-navbar {
    background-color: #410275;
}

.habit-tracker-brand * {
    color: #fff;
}

.habit-tracker-brand a {
    text-decoration: none;
}

.habit-tracker-brand a:hover {
    color: #fff;
}

/* switch section */
.switch {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 60px;
    height: 34px;
    margin-bottom: 0px !important;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}


.slider.round:before {
    border-radius: 50%;
}
/* /switch section */

.user-section-dropdown {
    cursor: pointer;
}

.user-section-dropdown .username,
.user-section-dropdown .user-icon,
.user-section-dropdown a::after {
    color: #fff;
}

.user-section-dropdown i.user-icon {
    margin-right: 10px;
    font-size: 20px;
}

.user-section-dropdown .dropdown-menu {
    right: 0px !important;
    left: auto !important;
}

.navbar-toggler i {
    color: #fff;
}

@media only screen and (max-width: 576px) {
    .habit-tracker-brand {
        margin: 0 auto;
    }

    .switch {
        position: absolute;
        left: 0;
        top: 0;
        margin-top: 10px;
        margin-left: 5px;
    }

    #navbar-content {
        margin-top: 20px;
    }

    .user-section-dropdown .dropdown-menu {
        right: auto !important;
        left: 0px !important;
    }
}