<nav class="menu-section">
  <div class="left-side-components">
    <div class="logo-section">
      <a href="#">Habit tracker <i class="fas fa-check"></i></a>
    </div>

    <label class="switch">
      <input type="checkbox" checked>
      <span class="slider round"></span>
    </label>
  </div>

  <span class="selected-habbit-name">All habits</span>

  <div class="user-section">
    <div ngbDropdown>
      <button class="btn btn-outline-primary user-account-btn" ngbDropdownToggle>
        <i class="fas fa-user user-icon"></i>
        <span class="username">Jane Doe</span>
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button class="dropdown-item"><i class="fas fa-cog"></i> Settings</button>
        <button class="dropdown-item" routerLink="/login"><i class="fas fa-sign-out-alt"></i> Logout</button>
      </div>
    </div>
  </div>

</nav>