<div class="sidebar" [ngClass]="{'hide-sidebar': !showSidebar}">
    <div class="add-habit-section">
        <button type="button" class="add-habit-btn">
            <i class="fas fa-plus"></i>
            <span>Add habit</span>
        </button>
    </div>

    <div class="habits-section">
        <ul class="habits-list">
            <li><i class="fas fa-list-ul"></i> All habits</li>
            <li *ngFor="let habit of habits">
                {{habit.name}}
            </li>
        </ul>
    </div>
</div>