.sidebar {
    position: fixed;
    height: 100%;
    width: 250px;
    background-color: #410275;
    border-top: 1px solid #3B026A;
    transition: transform 250ms ease-in-out;
}

.hide-sidebar {
    transform: translateX(-250px);
}

.edit-habit-section {
    padding: 10px;
    margin-bottom: 20px;
}

.edit-habit-btn {
    width: 100%;
    background-color: transparent;
    color: #fff;
    border: 1px solid #C4C4C4;
    border-radius: 10px;
    padding: 3px;
    outline: none;
}

.edit-habit-btn:hover {
    background-color: #2B014E;
}

.edit-habit-btn i {
    margin-right: 8px;
}

.habits-list {
    padding: 0;
}

.habits-list li {
    color: #fff;
    list-style: none;
    cursor: pointer;
    padding-top: 20px;
    border-bottom: 1px solid #fff;
    padding: 20px 0px 20px 10px;
}

.habits-list li:first-child {
    border-top: 1px solid #fff;
}

.habits-list li:hover {
    background-color: #2B014E;
}

.edit-habit-modal .habit-name {
    width: 100%;
    padding: 4px;
}

.edit-habit-modal .habit-name.invalid-input {
    border: 1px solid red;
}

.edit-habit-modal .error-message {
    margin-top: 8px;
}

.context-menu-icon {
    display: none;
    color: #fff;
    float: right;
    margin-right: 20px;
    padding: 10px;
}

.context-menu {
    display: none;
    position: absolute;
    border: 1px solid #fff;
    background-color: #fff;
    border: 1px solid #d0cdcd;
    width: 108px;
    -webkit-box-shadow: 7px 7px 5px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 7px 7px 5px -6px rgba(0, 0, 0, 0.75);
    box-shadow: 7px 7px 5px -6px rgba(0, 0, 0, 0.75);
}

.context-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.context-menu li {
    padding: 13px;
    border-bottom: 1px solid #d0cdcd;
    cursor: pointer;
}

.context-menu li:hover {
    background-color: #f1efef;
}