<div class="sidebar" [ngClass]="{'hide-sidebar': !showSidebar}">
    <div class="add-habit-section">
        <button type="button" class="add-habit-btn" (click)="open(content)">
            <i class="fas fa-plus"></i>
            <span>Add habit</span>
        </button>
    </div>

    <div class="habits-section">
        <ul class="habits-list">
            <li *ngFor="let habit of habits">
                {{habit.name}}
            </li>
        </ul>
    </div>
</div>

<ng-template #content let-modal>
    <div class="add-habit-modal">
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Add habit</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form [formGroup]="addHabitForm" (ngSubmit)="onCreateHabit()">
            <div class="modal-body">
                <input type="text" 
                    ngbAutofocus
                    formControlName="name" 
                    placeholder="Name" 
                    class="habit-name"
                    [ngClass]="{'invalid-input': formSubmitted && name.invalid }">

                <div *ngIf="formSubmitted && name.invalid" class="error-message">
                    <div *ngIf="name.errors.required">
                        The name is required
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-outline-dark">Save</button>
                <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cancel</button>
            </div>
        </form>
    </div>
</ng-template>