<div class="sidebar" [ngClass]="{'hide-sidebar': !showSidebar}">
    <div class="edit-habit-section">
        <button type="button" class="edit-habit-btn" (click)="openAddHabitModal(editHabitModalContent)">
            <i class="fas fa-plus"></i>
            <span>Add habit</span>
        </button>
    </div>

    <div class="habits-section">
        <ul class="habits-list">
            <li *ngFor="let habit of habits" class="habit-item"
                (mouseenter)="contextMenuIcon.style.display = 'inline-block'"
                (mouseleave)="contextMenuIcon.style.display = 'none'"
                (click)="selectHabit(habit)"
                [ngClass]="{ 'selected-habit' : habit == selectedHabit }">
                {{habit.name | truncateText:[20]}}

                <i #contextMenuIcon class="fas fa-ellipsis-v context-menu-icon"
                    (click)="displayContextMenu($event); selectHabit(habit)">
                </i>
            </li>
        </ul>
    </div>
</div>

<div #contextMenu class="context-menu">
    <ul>
        <li (click)="openEditHabitModal(editHabitModalContent)">
            <i class="fas fa-edit"></i> Edit
        </li>
        <li (click)="openDeleteHabitModal(confirmDeleteHabitModalContent)">
            <i class="fas fa-trash"></i> Delete
        </li>
    </ul>
</div>

<ng-template #editHabitModalContent let-modal>
    <div class="edit-habit-modal">
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">{{ actionType }}</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form [formGroup]="editHabitForm" (ngSubmit)="onEditHabit()">
            <div class="modal-body">
                <input type="text" ngbAutofocus formControlName="name" placeholder="Name" class="habit-name"
                    [ngClass]="{'invalid-input': formSubmitted && editHabitForm.get('name').invalid }">

                <div *ngIf="formSubmitted && editHabitForm.get('name').invalid" class="error-message">
                    <div *ngIf="editHabitForm.get('name').errors.required">
                        The name is required
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-outline-dark">Save</button>
                <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cancel</button>
            </div>
        </form>
    </div>
</ng-template>

<ng-template #confirmDeleteHabitModalContent let-modal>
    <div class="confirm-delete-habit-modal">
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Delete habit</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            Are you sure you want to delete the habit {{ selectedHabit.name }}?
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-outline-dark" (click)="deleteHabit()">Delete</button>
            <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cancel</button>
        </div>
    </div>
</ng-template>