<div class="container-fluid full-height background-primary-color">
	<nav class="logo-section">
		<a href="#">Habit tracker <i class="fas fa-check"></i></a>
	</nav>

	<div class="row">
		<div class="form-wrapper">
			<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
				<div class="form-group">
					<span class="control-icon">
						<i class="fas fa-envelope"></i>
					</span>
					<input type="text" name="email" id="email" placeholder="Email" formControlName="email">

					<div class="input-bar"></div>

					<div @fadeInOut *ngIf="formSubmitted && email.invalid">
						<div *ngIf="email.errors.required" class="error-message">
							The email is required
						</div>

						<div *ngIf="email.errors.email" class="error-message">
							The email is not valid
						</div>
					</div>
				</div>
				<div class="form-group">
					<span class="control-icon">
						<i class="fas fa-lock"></i>
					</span>
					<input type="password" name="password" id="password" placeholder="Password"
						formControlName="password">

					<div class="input-bar"></div>

					<div @fadeInOut *ngIf="formSubmitted && password.invalid">
						<div *ngIf="password.errors.required" class="error-message">
							The password is required
						</div>

						<div *ngIf="password.errors.minlength" class="error-message">
							The password must be at least {{passwordMinLength}} characters long
						</div>
					</div>
				</div>
				<div class="form-group">
					<span class="control-icon">
						<i class="fas fa-lock"></i>
					</span>
					<input type="password" name="confirm-password" id="confirm-password" placeholder="Confirm password"
						formControlName="confirmPassword">

					<div class="input-bar"></div>

					<div @fadeInOut *ngIf="formSubmitted && (confirmPassword.errors?.required || !confirmPassword.invalid && registerForm.errors?.passwordsNotEqual)">
						<div *ngIf="confirmPassword.errors?.required" class="error-message">
							Please confirm your password
						</div>

						<div *ngIf="!confirmPassword.invalid && registerForm.errors?.passwordsNotEqual"
							class="error-message">
							The passwords do not match
						</div>
					</div>

				</div>

				<button type="submit">Create Account</button>

				<div class="link-section">
					<span>Have an account already? </span><a routerLink="/login">Sign in</a>
				</div>
			</form>
		</div>
	</div>
</div>