.logo-section {
    padding-top: 20px;
}

.logo-section a {
    color: #fff;
    font-size: 26px;
    text-decoration: none;
    margin-right: 10px;
}

.logo-section i {
    color: #fff;
    font-size: 30px;
}

.form-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form-wrapper input {
    width: 300px;
    background-color: #410275;
    color: #fff;
    border: none;
    outline: none;
    padding: 10px;
}

.form-group .control-icon {
    position: relative;
    top: 3px;
    color: #fff;
    font-size: 20px;
}

.input-bar {
    height: 1px;
    background-color: #fff;
}

.form-wrapper button {
    width: 100%;
    background-color: #410275;
    border: 1px solid #fff;
    color: #fff;
    outline: none;
    margin-top: 20px;
    padding: 10px;
}

.form-wrapper button:hover {
    background-color: #2B014E;
}

/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: inset 0 0 0px 9999px #410275 !important;
    -webkit-text-fill-color: #fff;
    caret-color: #fff !important;
}